label {
  font-size: 2rem;
  text-align: right;
  font-weight: bold;
  padding: 1rem;
}

input, select {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

button {
  text-align: center;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  width: 200px;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#calculate {
  margin-left: 12rem;
}

#result {
  margin-left: 3.5rem;
}

select {
  margin-left: 12rem;
}

h1 {
  margin-left: 18rem;
}